<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Doador(a) - Doali</title>
    <link rel="stylesheet" href="/stylesheets/doador.css">
</head>

<body>
    <%- include('./partials/header') %>
    
    <div class="container">
        <!-- Boas vindas -->
        <div class="boas-vindas-card card">
            <h2 class="titulointr">Bem-vindo, Doador Parceiro!</h2>
            <h3 class="descricao">Vamos falar um pouco da importância do seu papel no Doali.</h3>
            <div class="boas-vindas"><hr>
                <p>O papel do doador no Doali é fundamental para promover uma cultura de solidariedade e apoio mútuo...</p>
            </div>
        </div>

        <!-- Barra de pesquisa -->
        <div class="search-bar">
            <input id="search-input" type="text" placeholder="Pesquisar Instituição por nome ou por localização...">
            <select id="filter-select">
                <option value="localizacao">Localização</option>
                <option value="nome">Nome</option>
            </select>
            <button type="button" id="search-button">Buscar</button>
        </div>

        <!-- Lista de perfis -->
        <div class="profiles">
            <% instituicoes.forEach(instituicao => { %>
                <div class="profile-card">
                  <img src="<%= instituicao.foto %>" alt="Imagem da Instituição">
                    <div class="profile-info">
                        <h2><%= instituicao.nome %></h2>
                        <p><strong>Localização:</strong> <%= instituicao.localizacao %></p>
                        <p><strong>Email:</strong> <%= instituicao.email %></p>
                        <p><strong>Contato:</strong> <%= instituicao.contato %></p>
                        <p><strong>Gerente:</strong> <%= instituicao.gerente %></p>
                        <p><strong>Projeto Social:</strong> <%= instituicao.projetoSocial %></p>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>

    <footer>
        <%- include('./partials/footer') %>
    </footer>
</body>

<script>
    document.getElementById('search-button').addEventListener('click', function() {
        const query = document.getElementById('search-input').value;
        const filter = document.getElementById('filter-select').value;

        // Redireciona para a rota de busca com parâmetros na URL
        window.location.href = `/buscar?filtro=${filter}&query=${query}`;
    });
</script>


</html>
